name: "sit-cert-client"

services:
  client:
    build:
      context: .
      dockerfile: docker/Dockerfile.prod
    container_name: sit-cert-client
    ports:
      - "3001:3001"
    env_file:
      - .env
    restart: unless-stopped